/*Tes Cozy master style sheet*/
body {
  margin: 0px;
  padding: 0px;
  background-color: black;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  opacity: 0.9;
}

a {
  color: seashell;
}


/*Fixed header*/
.header {
  display: flex;
  position: fixed;
  height: 69px;
  width: 100%;
  border-bottom: 1px solid seashell;
  align-items: center;
  justify-content: space-between;
}

.header img {
  margin-left: 10px;
  height: 50px;
}
